:root{
--primary: hsl(179, 62%, 43%);    
--color: hsl(71, 73%, 54%);
--fondo:hsl(204, 43%, 93%);
--gris: hsl(218, 22%, 67%);
}


body{
    font-size: 16px;
}


.navbar{
    color: var(--primary);
}

.letra{
    color: var(--color);
}

.letra2{
    color: var(--gris);
}